.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 50vw;
  align-self: center;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .card {
    width: 85vw;
  }
}

.card p {
  color: black;
}
